.ant-btn {
  &-ailer-primary {
    color: #fff;
    background-color: $--color-primary;
    border-color: $--color-primary;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

    &:hover,
    &:focus {
      color: #fff;
      background-color: mix($--color-primary, $--color-white, 80%);
      border-color: mix($--color-primary, $--color-white, 80%);
    }
  }

  &-ailer-default {
    &:hover,
    &:focus {
      color: mix($--color-primary, $--color-white, 80%);
      background-color: #fff;
      border-color: mix($--color-primary, $--color-white, 80%);
    }
  }
}
